<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315529266651-8tfsso66m9c1kg6rfod6jiu2fh7sc5sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315529266651-8tfsso66m9c1kg6rfod6jiu2fh7sc5sd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>315529266651-ijhvq3mb56akc0inulppgh2r1udmsvah.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwrCFlgtvvNbwdSCdlYuGJ7c0ZICl8fo0</string>
	<key>GCM_SENDER_ID</key>
	<string>315529266651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.curiousoft.izinga</string>
	<key>PROJECT_ID</key>
	<string>ijudi-d19bd</string>
	<key>STORAGE_BUCKET</key>
	<string>ijudi-d19bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315529266651:ios:9f7d145b1d2081bbed53fe</string>
	<key>DATABASE_URL</key>
	<string>https://ijudi-d19bd.firebaseio.com</string>
</dict>
</plist>